# Copyright 2025 the Turso authors. All rights reserved. MIT license.

[package]
name = "turso"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description = "Turso Rust API"

[features]
default = ["mimalloc"]
conn_raw_api = ["turso_core/conn_raw_api"]
antithesis = ["turso_core/antithesis"]
tracing_release = ["turso_core/tracing_release"]
mimalloc = ["dep:mimalloc"]

[dependencies]
turso_core = { workspace = true, features = ["io_uring"] }
thiserror = { workspace = true }
tracing-subscriber.workspace = true
tracing.workspace = true
mimalloc = { workspace = true, optional = true }

[dev-dependencies]
tempfile = { workspace = true }
tokio = { workspace = true, features = ["full"] }
rand = { workspace = true }
rand_chacha = { workspace = true }
