[env]
LIBSQLITE3_FLAGS = "-DSQLITE_ENABLE_MATH_FUNCTIONS" # necessary for rusqlite dependency in order to bundle SQLite with math functions included


# without these rustflags, cargo test failing because we are using shared napi library (turso_node)
# (these settings copied from napi-rs itself, see https://github.com/napi-rs/napi-rs/issues/2130#issuecomment-2239407809)

[target.'cfg(target_vendor = "apple")']
rustflags = [
  "-C",
  "link-args=-Wl,-undefined,dynamic_lookup,-no_fixup_chains",
]

# To be able to run unit tests on Linux, support compilation to 'x86_64-unknown-linux-gnu'.
# pthread_key_create() destructors and segfault after a DSO unloading https://sourceware.org/bugzilla/show_bug.cgi?id=21031
[target.'cfg(all(target_os = "linux", target_env = "gnu"))']
rustflags = [
  "-C",
  "link-args=-Wl,--warn-unresolved-symbols",
  "-C",
  "link-args=-Wl,-z,nodelete",
]

# To be able to run unit tests on Windows, support compilation to 'x86_64-pc-windows-msvc'.
[target.'cfg(target_env = "msvc")']
rustflags = [
  "-C",
  "link-args=/FORCE"
]

# Android targets need 16KB page alignment for Android 15+ compatibility
[target.aarch64-linux-android]
rustflags = [
  "-C",
  "link-args=-Wl,-z,max-page-size=16384",
]

[target.armv7-linux-androideabi]
rustflags = [
  "-C",
  "link-args=-Wl,-z,max-page-size=16384",
]

[target.x86_64-linux-android]
rustflags = [
  "-C",
  "link-args=-Wl,-z,max-page-size=16384",
]

[target.i686-linux-android]
rustflags = [
  "-C",
  "link-args=-Wl,-z,max-page-size=16384",
]