name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  codspeed:
    name: Run benchmarks
    runs-on: blacksmith-4vcpu-ubuntu-2404
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup mold linker
        uses: rui314/setup-mold@v1

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v1-rust"
          cache-on-failure: true

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install cargo-codspeed
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: cargo-codspeed

      - name: Build benchmarks
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
        run: cargo codspeed build

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.5.2
        with:
          mode: simulation
          run: cargo codspeed run
