name: CodSpeed

on:
  schedule:
      - cron: '24 4 * * *'
  push:
    branches:
      - "main"
    paths:
      - "core/**/*.rs"
      - "parser/**/*.rs"
      - "extensions/**/*.rs"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain.toml"
      - ".github/workflows/codspeed.yml"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    # Codspeed hosted bare metal runners, which they advertise as having more stable performance
    runs-on: codspeed-macro
    timeout-minutes: 60
    strategy:
      matrix:
        include:
          - bench: benchmark
            package: core
            features: codspeed
          - bench: mvcc_benchmark
            package: core
            features: codspeed
          - bench: json_benchmark
            package: core
            features: codspeed
          - bench: hash_spill_benchmark
            package: core
            features: codspeed,bench
          - bench: sql_functions
            package: core
            features: codspeed,bench
          - bench: parser_benchmark
            package: parser
            features: codspeed
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup mold linker
        uses: rui314/setup-mold@v1

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v1-rust-codspeed-${{ matrix.bench }}"
          cache-on-failure: true

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install cargo-codspeed
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed

      - name: Build benchmark (${{ matrix.bench }})
        env:
          SCCACHE_GHA_ENABLED: "true"
          RUSTC_WRAPPER: "sccache"
        run: cargo codspeed build -p turso_${{ matrix.package }} --bench ${{ matrix.bench }} --features ${{ matrix.features }}

      - name: Run benchmark (${{ matrix.bench }})
        uses: CodSpeedHQ/action@v4.7.0
        with:
          mode: walltime
          run: cargo codspeed run

  # tpc-h:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   env:
  #     DB_FILE: "perf/tpc-h/TPC-H.db"
  #   steps:
  #     - uses: actions/checkout@v4

  #     - name: Setup Rust toolchain
  #       uses: dtolnay/rust-toolchain@stable

  #     - name: Setup mold linker
  #       uses: rui314/setup-mold@v1

  #     - uses: Swatinem/rust-cache@v2
  #       with:
  #         prefix-key: "v1-rust-codspeed"
  #         cache-on-failure: true

  #     - name: Setup sccache
  #       uses: mozilla-actions/sccache-action@v0.0.9

  #     - name: Install cargo-codspeed
  #       uses: taiki-e/install-action@v2
  #       with:
  #         tool: cargo-codspeed

  #     - name: Cache TPC-H
  #       id: cache-tpch
  #       uses: actions/cache@v4
  #       with:
  #         path: ${{ env.DB_FILE }}
  #         key: tpc-h

  #     - name: Download TPC-H
  #       if: steps.cache-tpch.outputs.cache-hit != 'true'
  #       env:
  #         DB_URL: "https://github.com/lovasoa/TPCH-sqlite/releases/download/v1.0/TPC-H.db"
  #       run: wget -O $DB_FILE --no-verbose $DB_URL

  #     - name: Build TPC-H benchmark
  #       env:
  #         SCCACHE_GHA_ENABLED: "true"
  #         RUSTC_WRAPPER: "sccache"
  #       run: cargo codspeed build --features codspeed --bench tpc_h_benchmark 

  #     - name: Run TPC-H benchmark
  #       uses: CodSpeedHQ/action@v4.7.0
  #       with:
  #         mode: simulation
  #         run: cargo codspeed run --bench tpc_h_benchmark
