name: CodSpeed

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Setup mold linker
        uses: rui314/setup-mold@v1

      - uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v1-rust-codspeed"
          cache-on-failure: true

      - name: Install cargo-codspeed
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed

      - name: Build benchmarks
        run: cargo codspeed build

      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4.5.2
        with:
          mode: simulation
          run: cargo codspeed run
