name: Dotnet Tests

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  working-directory: bindings/dotnet
  CARGO_INCREMENTAL: "0"
  CARGO_NET_RETRY: 10

jobs:
  test:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    timeout-minutes: 30

    defaults:
      run:
        working-directory: ${{ env.working-directory }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust(stable)
        uses: dtolnay/rust-toolchain@stable

      - name: Setup mold linker
        uses: rui314/setup-mold@v1

      - name: Rust cache
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: "v1-rust"
          cache-on-failure: true

      - uses: "./.github/shared/setup-sccache"

      - name: Install dotnet sdk 9.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Run tests
        run: make test
